[Unit]
Description=Radicacion capita - 12:00 m y 12:00 a. m. (hora Colombia)

[Timer]
OnCalendar=*-*-* 00,12:00:00 America/Bogota
Persistent=true
Unit=radicacion-programada.service

[Install]
WantedBy=timers.target
